body {
    display: flex;
    flex-direction: column;
}


.output {
    width: 400px;
    height: 100px;
    box-sizing: border-box;
    font-size: 50px;
}

#buttons {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.number, .operator, .answer, .delete {
    min-width: 100px;
    min-height: 100px;
    font-size: 50px;
}

